language: python
sudo: false

matrix:
  include:
    - python: 3.6

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - conda update -n base -c defaults conda

install:
  # Install dependencies
  - conda create -n test --file requirements/run.txt
  - source activate test
  - python setup.py install

script:
  - set -e
  - conda install --file requirements/test.txt
  - coverage run run_tests.py
  - coverage report -m
  - codecov

notifications:
  email: false
